<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Analog clock</title>
  <link rel="stylesheet" href="../assets/css/analogClock.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

</head>

<body>
  <!-- partial:index.partial.html -->
  <section class="border-clock"></section>
  <section class="clock">
    <ul>
      <li><i>12</i></li>
      <li><i>1</i></li>
      <li><i>2</i></li>
      <li><i>3</i></li>
      <li><i>4</i></li>
      <li><i>5</i></li>
      <li><i>6</i></li>
      <li><i>7</i></li>
      <li><i>8</i></li>
      <li><i>9</i></li>
      <li><i>10</i></li>
      <li><i>11</i></li>
    </ul>

    <div class="tools">
      <i class="fa-solid fa-eye opened-eye"></i>
      <i class="fa-solid fa-eye-slash closed-eye"></i>
      <i class="fa-solid fa-plus new-time"></i>
    </div>

    <!-- <output class="date"></output> -->

    <div class="minutes"></div>
    <div class="hours"></div>
    <div class="seconds"></div>
    <div class="cercle"></div>


    <h2 class="time"></h2>

  </section>
  <!-- partial -->
  <script src="../assets/js/analogClock.js"></script>

</body>

</html>